# deps
node_modules
.pnp
.pnp.js

# build
dist
dist-ssr
*.local

# env
.env
.env.*
!.env.example

# logs
logs
*.log
npm-debug.log*

# editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.export.*
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# cache
.eslintcache
.stylelintcache
